<div ng-repeat="news in newsObject | filter : {year: '2017'} : true">
  <div ng-init="pushDomain(news.video)" class="title-bar moreSpace">
    <div class="container-fluid noSpace-top">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">{{ news.title }}</p>
      </div>
    </div>
  </div>

<div ng-repeat="url in urls" ng-show="$index % urls.length == $parent.$index">


  <!-- ==================checks if the domain key exists======================== -->
  <span ng-if="url.domain">
    <iframe class="moreSpace iframe" ng-src="{{ url.domain }}" frameborder="0" allowfullscreen></iframe>
  </span>
</div>
<div class="row marketing white moreSpace noSpace noSpace-top news-box">
    <span ng-if="!news.image">
      <div class="container-fluid i-info">
            <p class="basic noSpace">{{ news.info }}</p>
            <br>
            <span ng-if="news.list[0]">
              <h2 class="noSpace-top bank" style="font-size: 19px; color: #000000;">Accomplished :</h2>

              
                <ul class="moreSpace basic" style="padding-bottom: 20px; height: 100%;">
                  <li>{{ news.list[0] }}</li>
                  <li>{{ news.list[1] }}</li>
                  <li>{{ news.list[2] }}</li>
                </ul>
            </span>
      </div>
    </span>
    <span ng-if="news.image">
      <div class="container-fluid words-left" style="width: 570px; padding-bottom: 0px;">
            <p class="basic noSpace">{{ news.info }}</p>
            <br>
            <span ng-if="news.list[0]">
              <h2 class="noSpace-top bank" style="font-size: 19px; color: #000000;">Accomplished :</h2>

              
                <ul class="moreSpace basic" style="padding-bottom: 20px; height: 100%;">
                  <li>{{ news.list[0] }}</li>
                  <li>{{ news.list[1] }}</li>
                  <li>{{ news.list[2] }}</li>
                </ul>
            </span>
      </div>
    </span>
      <span ng-if="news.image">
        <p class="right-image news-img-box">
          <img class="news-img" src="images/team-photos/{{ news.image }}">
        </p>
      </span>
  </div>
</div>
