<div ng-repeat="news in newsObject | filter : {year: '2017'} : true">
  <div class="title-bar noSpace">
    <div class="container-fluid noSpace-top">
      <div class="middle-box">
        <p class="bank" style="font-size: 19px; color: white;">{{ news.title }}</p>
      </div>
    </div>
  </div>


  <iframe class="moreSpace" width="785" height="400" ng-src="{{ trustSrc(news.video) }}" frameborder="0" allowfullscreen></iframe>

  <div class="row marketing white moreSpace noSpace noSpace-top news-box">
      <div class="container-fluid words-left" style="width: 600px;">
            <p class="basic noSpace">{{ news.info }}</p> 
            <br>
            <span class="noSpace-top noSpace" style="text-align: left;">
              <h2 class="noSpace-top bank" style="font-size: 19px; color: #000000;">Accomplished :</h2>

                <ul class="moreSpace basic">
                  <li>{{ news.list[0] }}</li>
                  <li>{{ news.list[1] }}</li>
                </ul>
            </span>
      </div>
        <p class="right-image news-img-box">
          <img class="news-img" src="images/team-photos/{{ news.image }}" alt="I'm Yeoman">
        </p>
  </div>
</div>
<p class="moreSpace">
</p>
