<div class="jumbotron white" style="border-radius: 0px;">

    <!-- image size 210x240 -->
    <div class="row">
        <ul class="col-xs-6 col-md-6" ng-repeat="movie in movieObject">
            <li class="thumbnail">
                <a ng-href="/#!/movie/{{ movie._id }}" class="noDeck moreSpace"
                   ng-click="selectedTab = '{{ movie._id }}'" style="padding-top: 20px;">
                    <img class="moreSpace" src="images/team-photos/{{ movie.imaGe }}" height="257px"
                         width="200px"/>
                </a>
                <h3>{{ movie.title }}</h3>
            </li>
        </ul>
    </div>

</div>
