<div class="row marketing noSpace-top white margin-left last-radius">

    <div class="title-bar moreSpace">
        <div class="container-fluid noSpace-top">
            <div class="middle-box">
                <p class="bank" style="font-size: 19px; color: white; margin-left: 40px;">redDevil
                    Docs</p>
            </div>
        </div>
    </div>

    <div class="pro-left noSpace-top">
        <h3 class="left">
            1018 Resources
        </h3>
        <ul class="title-link">
            <li><a href="recs/manual.pdf" target="_blank">1018 Student Manual</a></li>
            <li><a href="recs/sponsor.pdf" target="_blank">Become a Sponsor</a></li>
        </ul>
    </div>

    <div class="pro-right">

    </div>
</div>
